# Config file for automatic testing at travis-ci.org
# Conda testing for Travis CI from https://gist.github.com/dan-blanchard/7045057
language: python

python:
  - 2.7

notifications:
  email: false
  
# Setup Anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  # Install in batch mode
  - ./miniconda.sh -b  -p $HOME/miniconda
  - export PATH=$HOME/miniconda/bin:$PATH
  - conda update --yes conda

install:
  # pip cannot easily install scipy or matplotlib on the Travis CI server
  - conda install --yes python=$TRAVIS_PYTHON_VERSION scipy matplotlib graphviz
  # Install the cloned dragonn package from source using Anaconda
  - pip install .

# run a simulation from simulations.py
script: python -c 'from simdna.simulations import simulate_single_motif_detection; sequences, labels, embedding_arr = simulate_single_motif_detection("SPI1_disc1", 20, 500, 500, 0.4)'

deploy:
  provider: pypi
  user: "lilleswing"
  password:
    secure: EcOuKUABsp7yUYjCseh9iPltC+sOn/AXh774moIT1InQN8ts04t6E1H1+A4BDlIGptWIaarZKfoa80Hqwtuxu8T6UcoPKLfHwGsmXFMTe5lXZQHopP1zNCgFYNC4ShcXmYqPw5zHSVPoJL1Ub1VbEBK+B+Rph8/YIaogPmZ8B6KpbtgD74dubR29XNMrZKJfbNwnqGX9Mv/X5MXgq26fFm77OV/tJf/O1qeq3id6NbCQ3/cjVnG2/TqNTGThmBWW7n+eA4XImlfSrS4NgiMSOHnU+zXmnr0Trs8CxspaR9pXF50JVAR0Q230ZireJi85maZzE4onC3kGC1knLI2ERVgp4tySfe5XRa/iXz94mmqrZjbLXxDpkQngU1HLhC9ojrAJWq6K3mBzz7xDL5hlB+IzIg8LBz08wEm+U+DLt/ygR6QGASit5NWC0QCbyARxFDfk60VubXR0VSsd+rs3dgrDsvphijZmys6Kt3WeuBYS5uzu9JIjukyVIX/PN2tThV6AQKnTuhcnmqUjfTwm2ueMe5PYIPAHFINk7nugfxpc2EeFO0FbSIJn6+RRdGklZY3ldda1aInyrb3kyoEl2Eyqo8AdmNCSpriI2wSa2r2OL+IH2U9N+e1qof6bKJFel2PetHp7p2l0ihZqQQgxTDU8dro3lTrppL4+H2TOB6M=
